/* se encontra em ambas páginas de cadastro admin e login */
.input-mensagem-erro{
    display: none;
}

.input-name--erro{
    display: block;
    color: #ff0000;
    margin-left: 1%;
    margin-bottom: 1.2rem;
}

.input-message--erro{
    display: block;
    color: #ff0000;
    margin-left: 1%;
    margin-bottom: 1.2rem;
}